<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Escape.</title>
        <link rel="stylesheet" href="../static/style/common.css">
        <link rel="stylesheet" href="../static/style/footer.css">
        <link rel="stylesheet" href="../static/style/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class="header">
            <div class="header__inner">
                <div>
                    <h2 class="header__logo">Escape.</h2>
                </div>
                <div class="header__link-block">
                    <a href="" class="header__link">HOME</a>
                    <a href="" class="header__link">CATEGORIES</a>
                    <a href="" class="header__link">ABOUT</a>
                    <a href="" class="header__link">CONTACT</a>
                </div>
            </div>
        </header>

        <div class="intro">
            <div class="intro__container">
                <h1 class="intro__title">Let's do it together.</h1>
                <h4 class="intro__smalltitle">We travel the world in search of stories. Come Along for the ride</h4>
                <button class="intro__button">Vies Latest Posts</button>
            </div>
        </div>

        <div class="nav">
            <div class="nav__block">
                <a href="" class="nav__link">Nature</a>
                <a href="" class="nav__link">Photography</a>
                <a href="" class="nav__link">Relaxation</a>
                <a href="" class="nav__link">Vacation</a>
                <a href="" class="nav__link">Travel</a>
                <a href="" class="nav__link">Adventure</a>
            </div>
        </div>

        <div class="main">
            <div class="main__largeposts largeposts">
                <h3 class="main__header">Featured Posts</h3>
                <hr class="main__hr">
                <div class="largeposts__block" >
                {{ range .Featured }}
                    <div class="main__largepost largepost" style="background: url({{ .PostImg }});">
                        <div class="largepost__content">
                            <h3 class="largepost__header">{{ .Title }}</h3>
                            <p class="largepost__info">{{ .Subtitle }}</p>
                            <div class="largepost__author authorlarge">
                                <img src="{{ .AuthorImg }}" alt="{{ .Author }} avatar">
                                <p class="authorlarge__info">{{ .Author }}</p>
                                <p class="authorlarge__date">{{ .PubDate }}</p>
                            </div>
                        </div>
                    </div>
                {{ end }}
                </div>
            </div>

            <div class="main__smallposts">
                <h3 class="main__header">Most Recent</h3>
                <hr class="main__hr">
                <div class="smallposts__block">
                {{ range .Recent }}
                    <div class="smallposts__post smallposts">
                        <img src="{{ .MainImg }}" class="smallposts__picture" alt="{{ .Title }} image">
                        <div class="smallposts__content">
                            <h3 class="smallposts__header">{{ .Title }}</h3>
                            <p class="smallposts__info">{{ .Subtitle }}</p>
                        </div>
                        <div class="smallposts__author authorsmall">
                            <img src="{{ .AuthorImg }}" alt="{{ .Author }} avatar">
                            <p class="authorsmall__info">{{ .Author }}</p>
                            <p class="authorsmall__date">{{ .PubDate }}</p>
                        </div>
                    </div>
                {{ end }}
                </div>
            </div>
        </div>



        <div class="footer">
            <div class="footer__form form">
                <h3 class="form__header">Stay in Touch</h3>
                <hr class="form__hr">
                <div class="form__block">
                    <input type="text" name="email" placeholder="Enter your email address" class="form__input">
                    <button type="button" class="form__button"><span style="opacity: 100%;">Sumbit</span></button>
                </div>
            </div>
            <div class="footer__inner">
                <div>
                    <h2 class="footer__header">Escape.</h2>
                </div>
                <div class="footer__link-block">
                    <a href="" class="footer__link">HOME</a>
                    <a href="" class="footer__link">CATEGORIES</a>
                    <a href="" class="footer__link">ABOUT</a>
                    <a href="" class="footer__link">CONTACT</a>
                </div>
            </div>
            <div class="footer__background"></div> 
        </div>
    </body>

</html>